/* ACA EMPIEZA TODO */
/* azul        negro       gris          white */
/* #1b65a7    #040615     #f2f4f5      #ffffff */
/* #4c76e2    #333333     #acacac      #ffffff*/


.card{
  width: 220px;
  height: 300px;
  position: relative;
  color: white;
}

.card_front_img{ 
  /* border: 2px solid white;  */
  margin-top: 1px;
  width: 180px;
  height: 110px;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.card_front, .card_back{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front{
  background:#4c76e2;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: all 1s;
  text-align: center;
  justify-content: center;
}
.card_front p{
  font-size: 1.2rem;
}


.card_back{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  background-color: #333333 ;
  transition: all 1s;
}

.name{
  text-align: center;
  font-size: 2rem;
}

.card_details{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  width: 100%;
  height: 28px;
  text-align: center;
  background:  #4c76e2 ;
  text-decoration: none;
}


.card_maps{
  margin-top: 20px;
  padding: 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  width: 40%;
  height: 20px;
  text-align: center;
  background: #4c76e2  ;
  text-decoration: none;
  border-radius: 10px;
}


.card:hover > .card_front {
  transform:perspective(600px) rotateY(-180deg)
}

.card:hover > .card_back{
  transform: perspective(600px) rotateY(0deg);
} 

@media screen and (max-width:1200px){
  .card{
    width: 220px;
    height: 240px;
    color: white;
  }
  
}


@media screen and (max-width:1000px){
  .card_front_img{ 
    /* border: 2px solid white;  */
    margin-top: 15%;
    width: 180px;
    height: 110px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
  }
}










/* FLIP */
/* .front, .back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.front{
  background: crimson;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: all 1s;
}

.back{
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  background: cornflowerblue;
  transition: all 1s;
}

.card:hover > .front {
  transform:perspective(600px) rotateY(-180deg)
}

.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
} */



/* .card{ */
  /* border: 2px solid red; */
 /* width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(20deg, rgba(60,83,86,1) 0%, rgba(0,0,0,1) 43%, rgba(51,85,88,1) 100%);
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51,.8);
  transition: .8s;
  position: relative;
}
 
.contenedorimg{ */
  /* border: 2px solid white; */
  /* margin-top: 1px;
  width: 180px;
  height: 110px;
  object-fit: cover;
  position: relative;
}

.detalle{
  background-color: rgb(255, 0, 0);
  color: black;
  font-size: 20px;
  width: 218px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  transition: 0.2s;
  z-index: 2;
}

 .img{
  width: 100%;
  height: 100%;
  filter: grayscale(0%);
  border-radius: 10px;
  z-index: 1;
}

.info{ */
    /* border: 2px solid blue; */
    /* color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre{
  text-align: center;
  display: block;
  font-size: 24px;
  cursor: default;
}

.continente{
  margin-top: 0px;
  cursor: default;
  text-align: center;
}

.card:hover .detalle{
  opacity: 1;
}

.card:hover{
  filter: grayscale(10%);
  background: rgba(0,0,0, .7);
} 
 */
