
.error{
  /* border: 2px solid red; */
  position: absolute;
  /* margin-left: -40% ; */
  /* margin-top: 100px; */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error img{
  width: 60px;
  height: 60px;
}

@media screen and (max-width:1650px){
  .error{
    /* border: 2px solid red; */
    margin-left: -70px;
  }
}

@media screen and (max-width:1000px){
  .error{
    /* border: 2px solid red; */
    margin-left: -100px;
  }
}